<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SVG の &lt;circle&gt; を &lt;path&gt; で描く</title>
    <style>
    .black-border {
      border: #000 1px solid;
    }
    .list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-left: 10px;
    }
    .container {
      display: flex;
      flex-direction: row;
        justify-content: space-around;
    }
    .permalink {
      font-size: small;
    }
    .quote {
      background-color: #d0d0d0;
      display: table;
      padding: 0 10px;
      margin: 10px 0;
    }
    .quote a {
      display: block;
      text-align: right;
    }
    .show-text-on-hover text {
      visibility: hidden;
    }
    .show-text-on-hover:hover text {
      visibility: visible;
    }
    .margin-top-bottom {
      margin: 10px 0;
    }
    .toplevel-section {
      width: 75%;
    }
    .svg-example {
      display: block;
    }
    .code-inline {
      display: inline;
      background-color: #dcfff9;
    }
    .code-block {
      display: table;
      background-color: #dcfff9;
    }

    /* Vim :TOhtml by evening colorscheme */
    .vim-tohtml { white-space: pre-wrap; font-family: monospace; color: #ffffff; background-color: #6c6c6c; font-size: 1em; }
    .vim-tohtml .Comment { color: #00ffff; }
    .vim-tohtml .Constant { color: #ff40ff; }
    .vim-tohtml .Identifier { color: #00ffff; font-weight: bold; }
    .vim-tohtml .Statement { color: #ffff00; font-weight: bold; }
    </style>
  </head>

  <body>
    <h1>SVG の &lt;circle&gt; を &lt;path&gt; で描く</h1>

    <div id='app' class='container'>
      <svg v-bind:width='width' v-bind:height='height' class='black-border'>
        <text v-if='!hidePoints' x='256' y='16' font-size='12px'>Hover a red circle to show its coordinate.</text>
        <g>
          <!-- 横線 -->
          <path stroke='black' d='M 0,250 L 500,250 Z'/>
          <!-- 縦線 -->
          <path stroke='black' d='M 250,0 L 250,500 Z'/>
        </g>
        <g>
          <!-- 丸 -->
          <path stroke='blue' fill='none' v-bind:d='drawCircle'/>
          <g v-if='!hidePoints' v-for='p in drawControlPoints' class='show-text-on-hover'>
            <!-- 点 (制御点や弧の端点など) -->
            <circle v-bind:cx='p.x' v-bind:cy='p.y' v-bind:r='p.r' fill='red'/>
            <!-- 点の座標 -->
            <text v-bind:x='p.x + 10' v-bind:y='p.y + 20'>{{ p.text }}</text>
          </g>
          <!-- パス文字列 -->
          <text v-for='(line,index) in pathLines' x='6' v-bind:y='16 + index * 10' font-size='12px'>{{ line }}</text>
        </g>
      </svg>

      <div class='input'>
        <section class='margin-top-bottom'>
          アルゴリズム：
          <ul class='list'>
            <li><label><input type='radio' value='arc' v-model='strategy' />2本の円弧で描画</label> (<a href='#desc-algorithm-2-arcs'>説明</a>)</li>
            <li><label><input type='radio' value='cubic_bezier' v-model='strategy' />4本の3次ベジェ曲線で描画</label> (<a href='#desc-algorithm-4-cubic-bezier-curves'>説明</a>)</li>
            <li><label><input type='radio' value='quad_bezier' v-model='strategy' />8本の2次ベジェ曲線で描画</label> (<a href='#desc-algorithm-8-quad-bezier-curves'>説明</a>)</li>
          </ul>
        </section>

        <section class='margin-top-bottom'>
          図形：
          <ul class='list'>
            <li v-if='hasSupportedFigure(strategy, "circle")'><label><input type='radio' value='circle' v-model='figure' />真円</label></li>
            <li v-if='hasSupportedFigure(strategy, "ellipse")'><label><input type='radio' value='ellipse' v-model='figure' />楕円</label></li>
          </ul>
        </section>

        <section class='margin-top-bottom'>
          半径：
          <ul v-if='figure == "circle"' class='list'>
            <li><input type='number' v-model.number='rx' v-bind:value='rx' /></li>
          </ul>
          <ul v-if='figure == "ellipse"' class='list'>
            <li>X: <input type='number' v-model.number='rx' v-bind:value='rx' /></li>
            <li>Y: <input type='number' v-model.number='ry' v-bind:value='ry' /></li>
          </ul>
        </section>

        <section class='margin-top-bottom'>
          端点・制御点を隠す
          <input type='checkbox' v-model='hidePoints' />
        </section>
      </div>
    </div>

    <section id='toc' class='toplevel-section'>
      <h2><a href='#toc' class='permalink'>#</a> 目次</h2>
      <ul>
        <li><a href='#whatsthis'>これは何？</a></li>
        <li><a href='#desc-algorithm'>アルゴリズムについての解説</a>
          <ul>
            <li><a href='#desc-algorithm-2-arcs'>2本の円弧で描画</a></li>
            <li><a href='#desc-algorithm-4-cubic-bezier-curves'>4本の3次ベジェ曲線で描画</a></li>
            <li><a href='#desc-algorithm-8-quad-bezier-curves'>8本の2次ベジェ曲線で描画</a></li>
          </ul>
        </li>
        <li><a href='#references'>参考記事</a></li>
      </ul>
    </section>

    <section id='whatsthis' class='toplevel-section'>
      <h2><a href='#whatsthis' class='permalink'>#</a> これは何？</h2>
      HTML5 上であれば &lt;circle&gt; タグを使えば円を描くことは出来ますが、
      SVG の &lt;path&gt; タグの d 属性に指定できるパス文字列の形式で表すことで

      <section class='quote'>
        <ul>
          <li>WPF/XAML(Path要素におけるパスマークアップ構文として)</li>
          <li>javaFX/FXML(javafx.scene.shape.SVGPathのcontentプロパティ)</li>
          <li>android:VectorDrawable</li>
          <li>canvas要素/Path2Dオブジェクト</li>
        </ul>
        <a href='http://defghi1977.html.xdomain.jp/tech/svgMemo/svgMemo_03.htm'>svg要素の基本的な使い方まとめ</a>
      </section>

      などに移植できるよう汎用性を持たせることができます。<br/>
      …というのは調べて分かった建前で、ふと必要になったから調べただけです。
    </section>

    <section id='desc-algorithm' class='toplevel-section'>
      <h2><a href='#desc-algorithm' class='permalink'>#</a> アルゴリズムについての解説</h2>
      誤差 (=円の歪み) に関しては以下の認識です (上に行くほど誤差が発生する)。
      測定をした訳ではないので間違っているかもしれません、すみません…。
      ただ2本の円弧に関してはベジェ曲線と違って本当の円なので誤差はないはずです。
      <ol>
        <li>8本の2次ベジェ曲線で描画</li>
        <li>4本の3次ベジェ曲線で描画</li>
        <li>2本の円弧で描画</li>
      </ol>

      <section id='desc-algorithm-2-arcs'>
        <h2><a href='#desc-algorithm-2-arcs' class='permalink'>#</a> 2本の円弧で描画</h2>
        <a href='https://developer.mozilla.org/ja/docs/Web/SVG/Tutorial/Paths#.E5.86.86.E5.BC.A7'>Paths - SVG | MDN</a> から引用。
        <section class='quote'>
          A rx ry x-axis-rotation large-arc-flag sweep-flag x y
        </section>
        今回は x-axis-rotation, large-arc-flag sweep-flag は今回は無視して構いません。
        ただ2本の曲線とも同じ値を渡す必要はあります (0,1,0 とか)。
        rx,ry はそれぞれ縦と横の半径、x,y は終点の座標です。

        上部分と下部分に分けて描画します (左右でもいい)。
        ここでは横の半径が 40、縦の半径が 30 の楕円を描きます (rx=40, ry=30)。
        現在の位置と x, y (終点) と縦横の半径の整合性が取れてないと正しく描画されません。

        <h4>上部分</h4>
        <pre class='code-inline'>M10,10 A40,30 0,1,0 90,10</pre>
        <svg width='100' height='50' class='svg-example'>
          <path stroke='blue' fill='none' d='M10,10 A40,30 0,1,0 90,10'/>
        </svg>

        <h4>下部分</h4>
        <pre class='code-inline'>M90,40 A40,30 0,1,0 10,40</pre>
        <svg width='100' height='50' class='svg-example'>
          <path stroke='blue' fill='none' d='M90,40 A40,30 0,1,0 10,40'/>
        </svg>

        実際のコードが生成するパスは以下のようになります (CX,CY = 円の中心の X,Y 座標)。
        <pre class='code-block'>M (CX - rx) CY
A rx ry 0 1 0 (CX + rx) CY
A rx ry 0 1 0 (CX - rx) CY</pre>
      </section>

      <section id='desc-algorithm-4-cubic-bezier-curves'>
        <h2><a href='#desc-algorithm-4-cubic-bezier-curves' class='permalink'>#</a> 4本の3次ベジェ曲線で描画</h2>
        Illustrator でも使われているらしい方法。
        <section class='quote'>
          Illustratorの楕円ツールで書く円は、本当は円ではなくて、近似値なんです。つまり、円としてはわずかに歪んでいるわけ。これはベジェ曲線（wikipedia:ベジェ曲線）というものを使う以上、そういう仕様なのですね。
          <a href='http://d.hatena.ne.jp/n-yuji/20131017/p1'>イラレの円は本当は円じゃない（もしくは時空の裂け目について） - 遠近法ノート</a>
        </section>

        <a href='https://developer.mozilla.org/ja/docs/Web/SVG/Tutorial/Paths#.E3.83.99.E3.82.B8.E3.82.A7.E6.9B.B2.E7.B7.9A'>Paths - SVG | MDN</a> から引用。
        <section class='quote'>
          C x1 y1, x2 y2, x y
        </section>
        x1,y1 は曲線の始点向けの制御点の座標、x2,y2 は曲線の終点向けの制御点の座標、x,y は終点の座標です。
        よく分かってないので制御点って何よ？って聞かないでください。

        左上、右上、右下、左下部分に分けて描画します。
        <a href='#desc-algorithm-2-arcs'>2本の円弧で描画</a>と同じく横の半径が 40、縦の半径が 30 の楕円を描きます (rx=40, ry=30)。

        <h4>左上部分</h4>
        ※見やすさのために第2小数点までで切り捨ててます。<br/>
        <pre class='code-inline'>M10,40 C10,23.43 17.90,10 40,10</pre>
        <svg width='60' height='50' class='svg-example'>
          <path stroke='blue' fill='none' d='M10,40 C10,23.43 27.90,10 50,10'/>
        </svg>

        <h4>右上部分</h4>
        <pre class='code-inline'>M10,10 C32.09,10 50,23.43 50,40</pre>
        <svg width='60' height='50' class='svg-example'>
          <path stroke='blue' fill='none' d='M10,10 C32.09,10 50,23.43 50,40'/>
        </svg>

        <h4>右下部分</h4>
        <pre class='code-inline'>M50,10 C50,26.56 32.09,40 10,40</pre>
        <svg width='60' height='50' class='svg-example'>
          <path stroke='blue' fill='none' d='M50,10 C50,26.56 32.09,40 10,40'/>
        </svg>

        <h4>左下部分</h4>
        <pre class='code-inline'>M50,40 C27.90 40 10 26.56 10 10</pre>
        <svg width='60' height='50' class='svg-example'>
          <path stroke='blue' fill='none' d='M50,40 C27.90 40 10 26.56 10 10'/>
        </svg>

        実際のコードが生成するパスは以下のようになります。
        <pre class='code-block'>M (CX - rx) CY
C (CX - rx) (CY - KAPPA * ry) (CX - KAPPA * rx) (CY - ry) CX (CY - ry)
C (CX + KAPPA * rx) (CY - ry) (CX + rx) (CY - KAPPA * ry) (CX + rx) CY
C (CX + rx) (CY + KAPPA * ry) (CX + KAPPA * rx) (CY + ry) CX (CY + ry)
C (CX - KAPPA * rx) (CY + ry) (CX - rx) (CY + KAPPA * ry) (CX - rx) CY
</pre>
        ここで KAPPA という謎の変数が出現しますが、これは 0.55228... (= (-1 + sqrt(2)) / 3 * 4) という値です。
        詳しくは
        <ul>
          <li><a href='https://cat-in-136.github.io/2014/03/bezier-1-kappa.html'>ベジェ曲線による円の描画の制御点の位置はなぜ0.55228…なのか?</a></li>
          <li><a href='http://d.hatena.ne.jp/Zellij/20131021/p1'>「イラレの円は本当は円じゃない」というけど誤差はどれくらいなのか - 大人になってからの再学習</a></li>
          <li><a href='http://www.whizkidtech.redprince.net/bezier/circle/kappa/'>Bézier Circle - Derivation of Kappa</a> (英語。元ネタ？)</li>
        </ul>
        を参照してください。
      </section>

      <section id='desc-algorithm-8-quad-bezier-curves'>
        <h2><a href='#desc-algorithm-8-quad-bezier-curves' class='permalink'>#</a> 8本の2次ベジェ曲線で描画</h2>
        <a href='https://developer.mozilla.org/ja/docs/Web/SVG/Tutorial/Paths#.E3.83.99.E3.82.B8.E3.82.A7.E6.9B.B2.E7.B7.9A'>Paths - SVG | MDN</a> から引用。
        <section class='quote'>
          Q x1 y1, x y
        </section>
        x1,y1 は曲線の始点向けの制御点の座標です。
        x,y は終点の座標です。

        第4象限 (上)、第4象限 (下)、第3象限 (下)、第3象限 (上)、第2象限 (下)、第2象限 (上)、第1象限 (上)、第1象限 (下) 部分の8本の曲線に分けて描画します。
        <a href='#desc-algorithm-2-arcs'>2本の円弧で描画</a>と同じく横の半径が 40、縦の半径が 30 の楕円を描きます (rx=40, ry=30)。

        <h4>第4象限 (上)</h4>
        ※見やすさのために第2小数点までで切り捨ててます。<br/>
        <pre class='code-inline'>M50,10 Q50,22.42 38.28,31.21</pre>
        <svg width='60' height='50' class='svg-example'>
          <path stroke='blue' fill='none' d='M50,10 Q50,22.42 38.28,31.21'/>
        </svg>

        <h4>第4象限 (下)</h4>
        <pre class='code-inline'>M38.28,31.21 Q26.56,40 10,40</pre>
        <svg width='60' height='50' class='svg-example'>
          <path stroke='blue' fill='none' d='M38.28,31.21 Q26.56,40 10,40'/>
        </svg>

        <h4>第3象限 (下)</h4>
        <pre class='code-inline'>M40,40 Q33.43,40 21.71,31.21</pre>
        <svg width='60' height='50' class='svg-example'>
          <path stroke='blue' fill='none' d='M40,40 Q33.43,40 21.71,31.21'/>
        </svg>

        <h4>第3象限 (上)</h4>
        <pre class='code-inline'>M21.71,31.21 Q10,22.42 10,10</pre>
        <svg width='60' height='50' class='svg-example'>
          <path stroke='blue' fill='none' d='M21.71,31.21 Q10,22.42 10,10'/>
        </svg>

        <h4>第2象限 (下)</h4>
        <pre class='code-inline'>M10,40 Q9.99,27.57 21.71,18.78</pre>
        <svg width='60' height='50' class='svg-example'>
          <path stroke='blue' fill='none' d='M10,40 Q9.99,27.57 21.71,18.78'/>
        </svg>

        <h4>第2象限 (上)</h4>
        <pre class='code-inline'>M21.71,18.78 Q33.43,10 49.99,10</pre>
        <svg width='60' height='50' class='svg-example'>
          <path stroke='blue' fill='none' d='M21.71,18.78 Q33.43,10 49.99,10'/>
        </svg>

        <h4>第1象限 (上)</h4>
        <pre class='code-inline'>M10,10 Q26.56,9.99 38.28,18.78</pre>
        <svg width='60' height='50' class='svg-example'>
          <path stroke='blue' fill='none' d='M10,10 Q26.56,9.99 38.28,18.78'/>
        </svg>

        <h4>第1象限 (下)</h4>
        <pre class='code-inline'>M38.28,18.78 Q50,27.57 50,39.99</pre>
        <svg width='60' height='50' class='svg-example'>
          <path stroke='blue' fill='none' d='M38.28,18.78 Q50,27.57 50,39.99'/>
        </svg>

        実際のコードが生成するパスは以下のようになります。
        <pre class='code-block'>M (CX + rx) CY
Q (controlX(theta) + CX) (controlY(theta) + CY) (anchorX(theta) + CX) (anchorY(theta) + CY)
Q (上と同じ引数のものが7個続く)</pre>
        theta はそれぞれの角度 (ラジアン) です。例えば第1象限 (下) だったら 1/4 * π、第1象限 (上)だったら 1/2 * π といった値です。
        controlX, controlY, anchorX, anchorY はそれぞれ theta を渡すと制御点と終点の座標を返します。
        実際のコードを見せた方が早いと思うので引用します。

<pre class='vim-tohtml'>
<span class="Comment">/**</span>
<span class="Comment">  * <a href="http://www.fumiononaka.com/TechNotes/Flash/FN0506002.html">http://www.fumiononaka.com/TechNotes/Flash/FN0506002.html</a></span>
<span class="Comment">  */</span>
drawCircle(param) <span class="Identifier">{</span>
  <span class="Statement">const</span> rx = param.rx;
  <span class="Statement">const</span> ry = param.figure === <span class="Constant">'circle'</span> ? rx : param.ry;
  <span class="Statement">const</span> SEGMENTS = 8;
  <span class="Statement">const</span> ANGLE = 2 * Math.PI / SEGMENTS;
  <span class="Statement">const</span> anchorX = theta =&gt; rx * Math.cos(theta);
  <span class="Statement">const</span> anchorY = theta =&gt; ry * Math.sin(theta);
  <span class="Statement">const</span> controlX = theta =&gt; anchorX(theta) + rx * Math.tan(ANGLE / 2) * Math.cos(theta - Math.PI / 2);
  <span class="Statement">const</span> controlY = theta =&gt; anchorY(theta) + ry * Math.tan(ANGLE / 2) * Math.sin(theta - Math.PI / 2);
  <span class="Statement">return</span> <span class="Identifier">[</span>
    <span class="Identifier">[</span><span class="Constant">'M'</span>, CX + rx, CY<span class="Identifier">]</span>,
    ... <span class="Identifier">this</span>.range(1, SEGMENTS).map(index =&gt; <span class="Identifier">{</span>
      <span class="Statement">const</span> theta = index * ANGLE;
      <span class="Statement">return</span> <span class="Identifier">[</span><span class="Constant">'Q'</span>, controlX(theta) + CX, controlY(theta) + CY, anchorX(theta) + CX, anchorY(theta) + CY<span class="Identifier">]</span>;
    <span class="Identifier">}</span>)
  <span class="Identifier">]</span>;
<span class="Identifier">}</span>
</pre>
        rx と ry は上の図では rx=40, ry=30 です。
      </section>
    </section>

    <section id='references' class='toplevel-section'>
      <h2><a href='#references' class='permalink'>#</a> 参考記事</h2>
      <ul>
        <li>SVGタグについての全般的な解説
          <ul>
            <li><a href='https://developer.mozilla.org/ja/docs/Web/SVG/Tutorial/Paths'>Paths - SVG | MDN</a></li>
            <li><a href='http://defghi1977.html.xdomain.jp/tech/svgMemo/svgMemo_03.htm'>svg要素の基本的な使い方まとめ</a></li>
          </ul>
        </li>
        <li>2本の円弧を用いた円の描画の元ネタ
          <ul>
            <li><a href='https://stackoverflow.com/questions/5737975/circle-drawing-with-svgs-arc-path'>geometry - Circle drawing with SVG&#39;s arc path - Stack Overflow</a></li>
          </ul>
        </li>
        <li>4本の3次ベジェ曲線を用いた円の描画の元ネタ
          <ul>
            <li><a href='http://d.hatena.ne.jp/Zellij/20131021/p1'>「イラレの円は本当は円じゃない」というけど誤差はどれくらいなのか - 大人になってからの再学習</a></li>
          </ul>
        </li>
        <li>8本の2次ベジェ曲線を用いた円の描画の元ネタ
          <ul>
            <li><a href='http://www.fumiononaka.com/TechNotes/Flash/FN0506002.html'>FN0506002 - 描画メソッドで円を描く - Flash : テクニカルノート</a></li>
            <li>元ネタはn本だが8本で満足行く円が得られたのでこのページでは8本固定にしてある</li>
          </ul>
        </li>
        <li>3次ベジェ曲線で円を描く方法に関する URL 集
          <ul>
            <li><a href='https://cat-in-136.github.io/2014/03/bezier-1-kappa.html'>ベジェ曲線による円の描画の制御点の位置はなぜ0.55228…なのか?</a></li>
          </ul>
        </li>
        <li>3次ベジェ曲線の制御点 kappa の元ネタ？ (英語)
          <ul>
            <li><a href='http://www.whizkidtech.redprince.net/bezier/circle/kappa/'>Bézier Circle - Derivation of Kappa</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </body>

  <script src='vue.min.js'></script>
  <script src='app.js'></script>
</html>
