<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SVG Graphs</title>
    <style>
    .black-border {
      border: #000 1px solid;
    }
    .list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-left: 10px;
    }
    .container {
      display: flex;
      flex-direction: row;
        justify-content: space-around;
    }
    .permalink {
      font-size: small;
    }
    .quote {
      background-color: #d0d0d0;
      display: table;
      padding: 0 10px;
      margin: 10px 0;
    }
    .show-text-on-hover text {
      visibility: hidden;
    }
    .show-text-on-hover:hover text {
      visibility: visible;
    }
    </style>
  </head>

  <body>
    <h1>円を色んな方法で描いてみる</h1>

    <div id='app' class='container'>
      <svg v-bind:width='width' v-bind:height='height' class='black-border'>
        <text x='256' y='16' font-size='12px'>Hover a red circle to show its coordinate.</text>
        <g>
          <!-- 横線 -->
          <path stroke='black' d='M 0,250 L 500,250 Z'/>
          <!-- 縦線 -->
          <path stroke='black' d='M 250,0 L 250,500 Z'/>
        </g>
        <g>
          <!-- 丸 -->
          <path stroke='blue' fill='none' v-bind:d='drawCircle'/>
          <g v-for='p in drawControlPoints' class='show-text-on-hover'>
            <!-- 点 (制御点や弧の端点など) -->
            <circle v-bind:cx='p.x' v-bind:cy='p.y' v-bind:r='p.r' fill='red'/>
            <!-- 点の座標 -->
            <text v-bind:x='p.x + 10' v-bind:y='p.y + 20'>{{ p.text }}</text>
          </g>
          <!-- パス文字列 -->
          <text v-for='(line,index) in pathLines' x='6' v-bind:y='16 + index * 10' font-size='12px'>{{ line }}</text>
        </g>
      </svg>

      <div class='input'>
        アルゴリズム：
        <ul class='list'>
          <li><label><input type='radio' value='arc' v-model='strategy' />2本の円弧で描画</label></li>
          <li><label><input type='radio' value='cubic_bezier' v-model='strategy' />4本の3次ベジェ曲線で描画</label></li>
          <li><label><input type='radio' value='quad_bezier' v-model='strategy' />8本の2次ベジェ曲線で描画</label></li>
        </ul>

        図形：
        <ul class='list'>
          <li v-if='hasSupported("circle")'><label><input type='radio' value='circle' v-model='figure' />真円</label></li>
          <li v-if='hasSupported("ellipse")'><label><input type='radio' value='ellipse' v-model='figure' />楕円</label></li>
        </ul>

        半径：
        <ul v-if='figure == "circle"' class='list'>
          <li><input type='number' v-model.number='rx' v-bind:value='rx' /></li>
        </ul>
        <ul v-if='figure == "ellipse"' class='list'>
          <li>X: <input type='number' v-model.number='rx' v-bind:value='rx' /></li>
          <li>Y: <input type='number' v-model.number='ry' v-bind:value='ry' /></li>
        </ul>
      </div>
    </div>

    <section id='whatsthis'>
      <h2><a href='#whatsthis' class='permalink'>#</a> これは何？</h2>
      HTML5 上であれば &lt;circle&gt; タグを使えば円を描くことは出来ますが、
      SVG の &lt;path&gt; タグの d 属性に指定できるパス文字列の形式で表すことで

      <section class='quote'>
        <ul>
          <li>WPF/XAML(Path要素におけるパスマークアップ構文として)</li>
          <li>javaFX/FXML(javafx.scene.shape.SVGPathのcontentプロパティ)</li>
          <li>android:VectorDrawable</li>
          <li>canvas要素/Path2Dオブジェクト</li>
        </ul>
        <a href='http://defghi1977.html.xdomain.jp/tech/svgMemo/svgMemo_03.htm'>svg要素の基本的な使い方まとめ</a>
      </section>

      などに移植できるよう汎用性を持たせることができます。
      …というのは調べて分かった建前で、ふと必要になったから調べてみただけです。
    </section>

    <section id='references'>
      <h2><a href='#references' class='permalink'>#</a> 参考記事</h2>
      <ul>
        <li>SVGタグについての全般的な解説
          <ul>
            <li><a href='https://developer.mozilla.org/ja/docs/Web/SVG/Tutorial/Paths'>Paths - SVG | MDN</a></li>
            <li><a href='http://defghi1977.html.xdomain.jp/tech/svgMemo/svgMemo_03.htm'>svg要素の基本的な使い方まとめ</a></li>
          </ul>
        </li>
        <li>2本の円弧を用いた円の描画の元ネタ
          <ul>
            <li><a href='https://stackoverflow.com/questions/5737975/circle-drawing-with-svgs-arc-path'>geometry - Circle drawing with SVG&#39;s arc path - Stack Overflow</a></li>
          </ul>
        </li>
        <li>4本の3次ベジェ曲線を用いた円の描画の元ネタ
          <ul>
            <li><a href='http://d.hatena.ne.jp/Zellij/20131021/p1'>「イラレの円は本当は円じゃない」というけど誤差はどれくらいなのか - 大人になってからの再学習</a></li>
          </ul>
        </li>
        <li>8本の2次ベジェ曲線を用いた円の描画の元ネタ
          <ul>
            <li><a href='http://www.fumiononaka.com/TechNotes/Flash/FN0506002.html'>FN0506002 - 描画メソッドで円を描く - Flash : テクニカルノート</a></li>
            <li>元ネタはn本だが8本で満足行く円が得られたのでこのページでは8本固定にしてある</li>
          </ul>
        </li>
        <li>3次ベジェ曲線で円を描く方法に関する URL 集
          <ul>
            <li><a href='https://cat-in-136.github.io/2014/03/bezier-1-kappa.html'>ベジェ曲線による円の描画の制御点の位置はなぜ0.55228…なのか?</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </body>

  <script src='vue.min.js'></script>
  <script src='app.js'></script>
</html>
